# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc.local
ui-debug.log
